$Merriweather: 'Merriweather', serif;
$OpenSans: 'Open Sans', sans-serif;
$Oxygen: 'Oxygen', sans-serif;

@import 'reset';
@import 'preloader';
@import 'html';
@import 'body';
@import 'header';
@import 'footer';
@import 'media';
@import 'about';
@import 'sculpture';
@import 'painting';
@import 'project';